<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body style="background-color: #f9f9f9; margin:50px;">
<header>
<center>
  <a href = "/urls">
    <h2 style="font-family: sans-serif; font-weight: 300;">TinyApp</h2>
  </a>
  <% include ./partials/_header %>
</center>
</header>
<div style = "padding-left: 200px">
  <% if (user === undefined) { %>
    <p>Please <a href = "/login">login</a></p>
  <% } %>

  <!-- Loop to check if the URL belongs to the logged in user-->

  <% for(var key in urls) { %>
    <% if (user.id === urls[key].createdBy) { %>
    <ul style="list-style-type:none; padding-right: 60px; font-family: sans-serif; font-weight: 300;">
    <li>
      <%= key %>: <a href = "<%= urls[key].longURL %>"><%= urls[key].longURL %></a>
        <form method="POST" action="/urls/<%= key %>/delete">
          <input style = "padding: 10px" type="submit" value="Delete">
        </form>
      <a href="/urls/<%= key %>"><button type ="submit">Edit</button></a>
    </li>
    </ul>
    <% } else { %>

  <!-- If user is not the owner of the URL, no edit or delete buttons -->

    <ul style="list-style-type:none; font-family: sans-serif; font-weight: 300;">
      <li>
        <%= key %>: <a href = "<%= urls[key].longURL %>"><%= urls[key].longURL %></a>
      </li>
    </ul>
    <% } %>
  <% } %>


  <br>
  <p style = "font-family: sans-serif; font-weight: 300;">
  <button style = "margin-left: 35px;"><a href = "/urls/new">Shorten a new URL</a></button>
  </p>
</div>
</body>
</html>